.promotion-slider {
 position: relative;
 max-width: calc(100% - 60px);
 margin: auto;
 margin-top: 60px;


 .swiper-slide {
  background-image: url(../img/bg.png);
  background-position: bottom;
 }

 .promotion__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 420px;
 }

 .promotion__box-bg {
  background: rgb(0, 0, 0, 0.6);
 }

 .promotion__box-title {
  margin-top: 0;
  padding-left: 0;
  padding-top: 20px;
  color: white;
 }

 .promotion__box-text {
  padding: 0 10px;
  color: white;
  max-width: 100%;
 }

 .promotion__box-subtitle {
  padding: 4px 10px;
  background: #ff0707;
  color: white;
  margin: 10px 0 0 0;
 }

 .promotion__box-link {
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: 1px solid white;

  &::after,
  &::before{
   background: white;
  }
 }

 .promotion__img {
  position: relative;
  z-index: 1;
  transform: scale(0.8);
  margin-top: 15px;
 }

 &::after,
 &::before {
  position: absolute;
  content: '';
  top: 50%;
  width: 15px;
  height: 15px;
  border-top: 1px solid red;
  border-left: 1px solid red;
 }

 &::after {
  right: -15px;
  transform: rotate(-225deg);
 }

 &::before {
  left: -15px;
  transform: rotate(-45deg);
 }
}